.menu_item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin: 0 0px 15px;
  /*box-shadow: -4px 4px 2px 1px rgba(0, 0, 0, 0.1);*/
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  &.x-large {
    margin-top: -8vw;
    height: 50vw;
    min-width: 100%;
    z-index: -9999;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid white;*/
    background-color: white;
    opacity: 0.7;
    position: absolute;

    &.large {
      height: 49vw;
      width: 100%;
          opacity: 0.0;
    }

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      /*color: #fefefe;*/
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
          /*color: #fff;*/
    }
  }
}